<br>
<br>
<br>
<br>
<br>
<br>
<div class="box col-xs-6 col-xs-offset-3 text-center">
<h1>
	Advice is Awesome!
</h1>
<br>
<h2>
	<button type="button" class="btn btn-info">Launch</button>
</h2>
<br>
</div>

	