<div class="box">
	<h1><p style="color:white">The best life tips</h1>

<h2><p style="color:white", "text-align: center">"<%= @quote.saying %>"
</h2>

<br>
<%= link_to 'Add advice', 'quotes/new' %>

</div>